* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: url("IMG_7584.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  color: white;
  text-align: left;
  margin-top: 20px;
  padding-left: 50px;

}
nav h1 {
  display: flex;
  align-items: center;
  margin-right: 30%;
}

 nav {
  background-color: rgba(228, 100, 100, 0.863);
  padding: 10px 20px;
  box-shadow: 3px 3px 5px rgba(196, 23, 23, 0.863);
 }
 nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
 }
 nav li { 
  height: 50px;
 }
 nav a {
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
 }
 nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
 }
 nav li:first-child {
  margin-right: auto;
 } 
 .sidebar {
  position: fixed;
  top: 90px;
  left: 0;
  height: 100vh;
  width: 90px;
  z-index: 999;
  background-color: rgba(217, 199, 199, 0.863);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(228, 100, 100, 0.863);
  padding: 10px 10px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

 }
  .sidebar li {
    width: 100%;
  }
  .sidebar a {
    width: 100%;
  }
  @media(max-width: 800px) {
    .hideOnMobile {
      display: none;
    }
  }

footer {
  background-color: rgba(228, 100, 100, 0.863);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}